header
  .container
    .logo PUG
    nav
      ul
        li
          a(href="/" data-navigo) Main
        li
          a(href="/dark/" data-navigo) Dark
        li
          a(href="/light/" data-navigo) Light
        li
          a(href="https://github.com/SubZtep/vite-plugin-pug/tree/multipage/examples/multiroot" target="_blank") GitHub
